<% provide(:title, "About") %>
<h1>About</h1>

<p>筋トレメニューを自動生成するWebアプリです。</p>
<p>各筋肉の部位にはそれぞれ超回復の時間が違います。</p>
<p>「超回復済みメニュー」はあなたの超回復が完了している筋肉の部位だけをターゲットとしたトレーニング種目で構成されています。</p>
<p>「前はどの種目やったか忘れたから今日何やればいいんだろう・・・」といった悩みを解決！</p>