<div class="jumbotron text-center container">
  <% if user_signed_in? %>

    <h1 class="home-heading jumbotron-heading text-center">
      ようこそ。メニューを作成するには種目リストをご覧ください
    </h1>
    <%= link_to '種目リスト', types_list_path, class: "btn btn-primary my-2" %><br>
    <%= link_to 'メニューを確認する', user_path(current_user), class: "btn btn-secondary my-2" %>

  <% else %>

    <h1 class="home-heading jumbotron-heading text-center">
      ユーザー登録して、今日のメニューを自動的に作ろう
    </h1>
    <%= link_to 'ユーザー登録', new_user_registration_path, class: "btn btn-primary my-2" %>

  <% end %>  
</div>