<div class="jumbotron text-center container">
  <h1 class="home-heading jumbotron-heading text-center">
    筋トレメニューを自動的に作成します。
  </h1>

  <%= link_to '種目リスト', '/types_list', class: "btn btn-primary my-2" %>
</div>