<%= content_for :page_header do %>あなたの超回復済みメニュー<% end %>


<% if @menu_items.count > 0  %>

  <div class="menu-wrapper text-center">
    <ul class="list-group menu-list mx-auto border-bottom">
      <% @menu_items.each do |item| %>
        <%= content_tag :div, item.name, class: "list-group-item text-center menu-list-item" %>
      <% end %>
    </ul>

    <p>
      <%= link_to 'トレーニングを完了したら押してください', menu_of_recovered_parts_path, :method => :patch, class: "btn btn-primary my-2" %>
    </p>
  </div>

<% else %>

  <div class="mx-auto text-center" style="width: 500px">
    <p class="text-info">超回復している筋肉はありません。休息も大事です。</p>
  </div>

<% end %>

