@import "bootstrap";

/* home page */

.home-heading {
  margin-top: 100px;
  margin-bottom: 35px;
}

/* header */

.header-logo {
  margin-left: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* layout */

.page-header {
  margin: 40px auto;
  text-align: center;
  padding-bottom: 10px;
}

/* types-list */

.types-list-header {
  text-align: center;
  margin: 30px 0;
}

.types-list-wrapper {
  margin: 10px auto;
  text-align: center;
}

.types-list {
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.type-item {
  padding: 0 30px;
  margin: 4px 0;
}

.type-create-button {
  margin-top: 20px;
}

/* user show */

.menu-list {
  margin-bottom: 30px;
  padding-bottom: 20px;
}

/* flash */

.flash {
  margin-top: 3px;
}

.list-group {
  display:inline-block;
}

.menu-list-item {
  width: 400px;
}